@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/app/globals.css */

:root {
  --background: #2D3142;
  --foreground: #D0D0D0;
  --accent-1: #F7C1AA;
  --accent-2: #EF8354;
  --accent-3: #BFC0C0;
  --accent-4: #4F5D75;
}

@layer utilities {

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overscroll-behavior-x: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section {
  @apply min-h-screen w-screen flex flex-col items-center justify-center bg-background;
}

h1 {
  @apply text-6xl p-8 text-center font-extrabold text-accent-1;
}

h2 {
  @apply text-4xl p-8 font-semibold text-center text-accent-1;
}

p {
  @apply text-lg text-accent-3;
}

button {
  @apply text-base px-4 py-2 rounded-md bg-accent-1 text-foreground hover:bg-accent-2 transition duration-300 ease-in-out;
}

/* Scrolling arrows and indicators */
.scroll-arrow {
  @apply text-4xl mt-10 text-accent-1;
}

/*
 * Article styles
 */

.article-slider {
  @apply w-full p-6 flex space-x-6 scrollbar-hide overflow-x-scroll;
}

.article-card {
  @apply md:flex-shrink-0 md:w-1/4 sm:w-screen sm:w-screen p-6 shadow-md rounded-lg transition duration-500 border-2 border-accent-1 md:hover:scale-110 transition duration-500 ease-in-out;
}

.article-image {
  @apply w-full h-24 object-cover rounded mb-4;
}

.article-title {
  @apply text-xl line-clamp-3 font-semibold mb-2 text-accent-1;
}

.article-date {
  @apply text-sm mb-2 text-accent-2;
}

.article-text {
  @apply text-base line-clamp-4 mb-2 text-accent-3;
}

.article-link {
  @apply text-base text-accent-1 hover:underline;
}

.article-controls {
  @apply flex justify-around items-center my-4;
}

/*
 * github contributions styles
 */

.github-contributions {
  @apply flex flex-wrap flex-col gap-6 mb-6;
}

.gh-contribution {
  @apply flex items-center gap-2;
}

.gh-text {
  @apply text-lg font-medium text-accent-2;
}

.gh-icon {
  @apply text-xl text-accent-1;
}

.github-card {
  @apply md:w-1/2 sm:w-screen p-6 shadow-md rounded-lg transition duration-500 border-2 border-accent-1;
}

 .react-calendar-heatmap text {
  @apply text-accent-3 text-sm;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  @apply text-accent-2 text-xs;
}

.react-calendar-heatmap rect:hover {
  stroke: var(--accent-1);
  stroke-width: 1px;
}

/*
 * Default color scale
 */

.react-calendar-heatmap .color-empty {
  fill: var(--foreground);
  opacity: 0.2;
}

.react-calendar-heatmap .color-filled {
  fill: var(--accent-2);
}

/*
 * Github color scale
 */

.react-calendar-heatmap .color-github-0 {
  fill: var(--accent-3);
  opacity: 0.20;
}
.react-calendar-heatmap .color-github-1 {
  fill: var(--accent-1);
  opacity: 0.40;
}
.react-calendar-heatmap .color-github-2 {
  fill: var(--accent-1);
  opacity: 0.60;
}
.react-calendar-heatmap .color-github-3 {
  fill: var(--accent-1);
  opacity: 0.80;
}
.react-calendar-heatmap .color-github-4 {
  fill: var(--accent-1);
}

/*
 * Project styles
*/

.project-grid {
  @apply grid gap-8 md:grid-cols-3 sm:grid-cols-1 p-8;
}

.project-card {
  @apply p-6 rounded-md rounded-lg border border-accent-1 hover:scale-110 transition duration-500 ease-in-out;
}

/* Project name styling */
.project-name {
  @apply text-xl font-semibold text-accent-1 mb-2;
}

/* Project description styling */
.project-description {
  @apply text-accent-2 mb-4 line-clamp-3 text-xs;
}

/* Language bar container */
.language-bar {
  @apply flex w-full h-4 rounded-lg overflow-hidden mb-4 border border-gray-300;
}

/* Each language segment within the bar */
.language-segment {
  @apply relative h-full;
}

/* Container for project topics */
.project-topics {
  @apply flex flex-wrap gap-2 mb-4;
}

/* Individual topic item styling */
.project-topic {
  @apply bg-accent-1 text-background px-2 py-1 rounded-full text-xs font-medium;
}

/* Project link button styling */
.project-link {
  @apply inline-block text-accent-1 hover:underline font-semibold mt-4;
}

/* Embedded Game Iframe */
iframe {
  @apply w-screen h-screen border border-accent-1 transition duration-500 ease-in-out;
}

/* Contact form styles */

.contact-form {
  @apply flex flex-col gap-4;
}

.contact-input {
  @apply p-2 border border-accent-1 rounded-md;
}

.contact-input::placeholder {
  @apply text-accent-2;
}

.contact-input:focus {
  @apply outline-none border-accent-2;
}

.contact-input[type="submit"] {
  @apply bg-accent-1 text-background hover:bg-accent-2 transition duration-500 ease-in-out;
}